{
  "discord": {
    "login": "some@e.mail",
    "password": "password",
    "admins": []
  },
  "exchangerates": {
    "appid": "SELFAPIKEY"
  }
  "wolframalpha": {
    "appid": "SELFAPIKEY",
    "static_url": "http://some.site/{file}"
  }
}